<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="videocontainer">
    <button  class="btn btn-primary" (click)="clearLocalStorage()">Clear local storage</button>
    <div>
      <h5>List of Videos</h5>
      <ul>
        <li *ngFor="let item of videoArrayToMap" style="width:100%">
             
            <video preload="auto" controls style="width:100%;height:auto">
              <source [src]="item" type="video/mp4" />
            </video>
  
          <!-- <div>{{item}}</div> -->
          <button
          class="btn btn-primary"
          (click)="leadGenSubmit(getTrustedUrl(item))"
        >
          Download
        </button>
          
        </li>
      </ul>
    </div>
  </div>
  <hr />
  
  <div class="videocontainer" *ngIf="showSaveVideosContainer === true">
      <h2>My Downloaded Videos</h2>
    <ul>
      <li *ngFor="let item of newArray">
      <video preload="auto" controls style="width:100%;">
        <source [src]="item" type="video/mp4" />
       </video>
       <button class="btn btn-danger" (click)="deleteFromStorage(getTrustedUrl(item))">Delete</button>
      </li>
    </ul>
  </div>
  
</ion-content>
